<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tinker hub</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header class="header">
        <a href="#home" class="logo">
            Tinker<span>hub</span>
        </a>
        <i class="bx bx-menu" id="menu-icon"></i>
        <nav class="navbar">
            <a href="#home">home</a>
            <a href="#about">about</a>
            <a href="#services">services</a>
            <a href="#project">project</a>
            <a href="#contact">contact</a>
        </nav>
        <button class="gradient-btn">boom me </button>
    </header>

    <section class="home" id="home">
        <div class="home-content">
            <h1>Hi, Its us <span>tinkerhub</span></h1>
            <h3>
                this is h3
            </h3>
            <p>
            </p>
        </div>
        <div class="home-img">
            <img src="./channels4_profile.jpg">
        </div>
    </section>

<script src="index.js"></script> 
</body>
</html>